 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Roboto, sans-serif;
     line-height: 1.6;

 }

 .container {
     max-width: 1500px;
     margin: 0 auto;
     padding: 0 20px;
 }

 #header {
   background-color: #1b0033;
   padding-bottom: 90px;
}
.nav-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 1rem;
}
.logo{
    font-size: 28px;
    font-weight: 700;
   color: #f9faf8;
} 
.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
 }

.nav-menu a {
  color:#f9faf8;
  text-decoration: none;
  transition: opacity 0.3s ease;
 }

 .nav-menu a:hover {
    opacity: 0.8;
    color: aliceblue;
 }

button.menu-toggle {
   display: none;
   background: none;
   border: none;
   color: white;
   font-size: 1.5rem;
   cursor: pointer;
  }

.header-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 0.5rem;
    gap: 80px;
}

.rhs{
     margin: 0;
     line-height: 1.5;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
     line-height: 1.1;
}
.sub-text{
    font-size: 18px;
    color: #b0b2b6;
}
.button-div{
  padding-top: 10px;
}
button { 
  background:#580e92;
  cursor: pointer;
  border: none;
  padding: 6px 29px;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #c089ff; 
}
button.sign {
  border: 1px solid  #c089ff;
  color: #f3eaff; 
  border-radius: 10px;
 
} 

/* okay this is the content part */

/* part1 */

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.content-title {
  padding-top: 20px ;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.image-row {
  background-color: inherit;
  display: flex;
  justify-content: center;
  gap: 50px;
 padding-top: 30px;       
}

.image-card {
  width: 250px;
  justify-content: center;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;   /* rounded corners */
  border: 2px solid #ccc;
}
.box {
  color: #8a8b8e;
  width: 200px;
  height: 200px;
  text-align: center;
  
}

/* part2 */
.part2 {
  background-color: #f3eaff;
  padding: 150px;
  text-align: center;
}

.p2text {
  padding: 5px;
  font-style: italic;
  font-size: 20px;
  color: #515a68;
}

.p2name {
  font-weight: 600;
  text-align: right;
  color: #1f2937;
}

/* part3 */
.part3 {
  background-color: inherit;
  padding: 80px;
}

.blue {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  height: 100px;
  background-color:#2d114c;
  border-radius: 8px;
  padding: 1rem;
}

.tight-headings h3,
.tight-headings h4,
.hcp1 {
  margin: 0;
  line-height: 1.1;
}

.part3-content {
  color: #f3eaff;
  font-size:24px;
}

.part33-content {
  color: #d7d1e0;
  font-weight: 300;
  font-size: 19px;
}

 button.button2 {
  background-color: #300c5a;
  border: 2px solid #f3eaff;
  color: #f3eaff;
  border-radius: 10px;
}


/* footer yay! Tommorrow we shall add responsiveness to screen types cause lmaoo */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #0a0a0a;
}

.footer-txt {
  color: #c3c7d0;
  font-weight: 300;
  font-size: 17px;
}